certifi==2022.12.7
chardet==3.0.4
CouchDB==1.1
Django==1.11.5
django-cors-headers==2.1.0
django-extensions==1.9.1
django-filter==1.0.4
django-rest-framework==0.1.0
djangorestframework==3.6.4
djangorestframework-jwt==1.11.0
ecdsa==0.13
idna==2.6
psycopg2==2.7.3.2
Pygments==2.2.0
PyJWT==1.5.3
pytz==2017.3
requests==2.18.4
six==1.11.0
typing==3.6.4
urllib3==1.22
